---
title: Home
author: Max Rydahl Andersen
layout: constant-sidebar
tab: home
---
.page-header
  %h1 
    Max Rydahl Andersen
    %br
    %small
      Danish guy enjoying working on open source software
:markdown
  Contributor and lead of __open source__ projects for over 10 years.  
  Many of them at __[JBoss by Red Hat](http://redhat.com)__ currently tools platform architect.  
  Active in the __Java community__ in general via community forums, __podcasts__ and speaking engagements.  

%p.bar
  %a.btn.btn-success{:href=>'/bio/'}
    More complete bio &raquo;
  |
  %a.btn.btn-success{:href=>'/projects/'}
    My projects &raquo;
  
%hr

%p.bar
  %a{:href=>'/blog/'}
    %img{:src=>'/images/services/rss_32.png'}
    Personal (technical) blog
  |
  %a{:href=>"#{site.twitter_url}"}
    %img{:src=>'/images/services/twitter_32.png', :alt=>'Twitter'}
  |
  %a{:href=>"#{site.googleplus_url}"}
    %img{:src=>'/images/services/google_plus_32.png', :alt=>'Google Plus'}
  |
  %a{:href=>"#{site.linkedin_url}"}
    %img{:src=>'/images/services/linkedin_32.png', :alt=>'LinkedIn'}
  |
  %a{:href=>"#{site.profblog_url}"}
    %img{:src=>'/images/services/rss_32.png'}
    Professional blog
  |
  %a{:href=>"#{site.mail_url}"}
    %img{:src=>'/images/services/email_32.png'}
 
